<%- contentFor('body') %>
    <div class="modal-dialog text-center ">
        <h1>Email ou senha incorreto</h1>
        <h4>Tente novamente</h4>
        <div>
            <a href="/login">
                <span class="fa fa-user-o" aria-hidden="true"> Fazer login </span>
            </a>
        </br>
            <a href="/inicio">
                  Fazer login 
            </a>
        </div>


    </div>